<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.myoldmachine.bot</string>

    <key>ProgramArguments</key>
    <array>
        <string>{{PYTHON}}</string>
        <string>{{BOT_PY}}</string>
    </array>

    <key>WorkingDirectory</key>
    <string>{{WORKING_DIR}}</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>{{LOG_DIR}}/bot.log</string>

    <key>StandardErrorPath</key>
    <string>{{LOG_DIR}}/bot.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PYTHONUNBUFFERED</key>
        <string>1</string>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:{{VENV_BIN}}</string>
    </dict>
</dict>
</plist>
